.container {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
    grid-template-rows: 1fr 15px 1fr;
}

.man-hour-name-form{
    grid-column-start: 2;
    grid-row-start:1
}

.man-hour-controller-form{
    grid-column-start: 2;
    grid-row-start:2;
}

.left-arrow-form{
    grid-column-start: 1;
    grid-row-start:2;
    align-self: center;
}

.right-arrow-form{
    grid-column-start: 3;
    grid-row-start:2;
    align-self: center;
}

.hscroll .message-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 30px;
    line-height: 30px;
    background-color: crimson;
    border-radius: 30px;
    margin-left:70px;
    /* background-color:crimson */
}