.controller-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: left;
}

.delete-error-message-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: left;
}

.down{
    margin-right: 6px;
    text-align: left;
    height: 16px;
    width: 16px;
}

.up{
    margin-right: 200px;
    text-align: left;
    height: 16px;
    width: 16px;
}

.side-arrow{
  /* 子要素のタイトルを aboslute 配置するため必要 */
  margin-top:5px;
  display: flex;
  justify-content: space-between;
}

.left{
    height: 24px;
    width: 24px;
    align-self: center;
    /* margin-right:20px;
    margin-left:0px; */
}

.right{
    height: 24px;
    width: 24px;
    align-self: center;
    /* margin-left:20px;
    margin-right:0px; */
}

.arrow{
    margin-right: 200px;
    text-align: left;
    height: 16px;
    width: 16px;
}

.edit{
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: left;
    margin-left: 10px;
}

.close{
    height: 12px;
    width: 12px;
    margin-right: 20px;
    margin-left: 5px;
}

#errorMessage .message-form .close{
    margin-left:15px;
    margin-right: 10px;
}

.manHour-controller{
    text-align:right;
}