.controller-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: left;
}

.start{
    margin-right: 2px;
    text-align: left;
}

.stop{
    margin-right: 10px;
    text-align: left;
}

.delete{
    margin-right: 150px;
    text-align: left;
    height: 16px;
    width: 16px;
}

.down{
    margin-right: 6px;
    text-align: left;
    height: 16px;
    width: 16px;
}

.up{
    margin-right: 6px;
    text-align: left;
    height: 16px;
    width: 16px;
}

.edit{
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: left;
    margin-left: 10px;
}

.save{
    margin-left: 10px;
}

.manHour-controller{
    text-align:right;
}