.controller-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: left;
}

.start{
    margin-right: 2px;
    text-align: left;
}

.stop{
    margin-right: 10px;
    text-align: left;
}

.delete{
    margin-right: 110px;
    margin-left:20px;
    text-align: left;
    height: 16px;
    width: 16px;
}

.down{
    margin-right: 6px;
    text-align: left;
    height: 16px;
    width: 16px;
}

.up{
    margin-right: 200px;
    text-align: left;
    height: 16px;
    width: 16px;
}

.side-arrow{
  /* 子要素のタイトルを aboslute 配置するため必要 */
  margin-top:5px;
  display: flex;
  justify-content: space-between;
}

.left{
    height: 24px;
    width: 24px;
    align-self: center;
    /* margin-right:20px;
    margin-left:0px; */
}

.right{
    height: 24px;
    width: 24px;
    align-self: center;
    /* margin-left:20px;
    margin-right:0px; */
}

.arrow{
    margin-right: 200px;
    text-align: left;
    height: 16px;
    width: 16px;
}

.edit{
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: left;
    margin-left: 10px;
}

.save{
    margin-left: 10px;
}

.change{
    margin-right: 15px;
    margin-left:10px;
    text-align: left;
    height: 16px;
    width: 16px;
}

.manHour-controller{
    text-align:right;
}