body {
    width: 400px;
    background: #333333;
    font-family: "Helvetica Neue" ;
}

#header {
    height: 130px;/*高さ指定*/
	width:100%;/*横幅指定*/
    /* background-color: #333333; */
}

#fixedHeader{
    position: fixed;  
    width: 100%;
    height: 130px;
    text-align: center;
    background-color: #333333;
}

#fixedHeader.fixed{
    top:0;
    z-index: 1;/*前面へ*/
  }

#title {
    text-align:center;
    color:#708090;
 }

.button{
    margin:0;
    text-align:center;
    color:#708090;
    background-color: #333333;
    margin-bottom: 5px;
    position: relative;
    z-index: 3;
}

#addTitle{
    color:#708090;
    margin-right:10px;
}

.error{
    font-size: 16px;
    color:white;
    margin-left: 10px;
    text-align: center;
}

#errorMessage .message-form{
    align-items: center;
    width: auto;
    height: 30px;
    line-height: 30px;
    background-color: crimson;
    border-radius: 30px;
    margin-top:5px;
    display:flex;
    /* margin-left:40px; */
}

